# Angular
/volcano-gui/dist
/volcano-gui/tmp
/volcano-gui/out-tsc
/volcano-gui/bazel-out
/volcano-gui/node_modules
/volcano-gui/.angular/cache

# Java
/volcano-backend/.mvn/
/volcano-backend/target/

# DB
/data/