.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="date"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-color: #4c6ef5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton {
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-color: #cc3b3b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #375cd6;
}

.submitButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 110, 245, 0.3);
}

.submitButton:active {
  transform: translateY(1px);
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

.add-activity-section {
  margin-right: 20px;
}

.all-activities-section {
  flex-grow: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
